<div class="project">
	<img class="thumbnail" src="img1.png">
	<img class="thumbnail" src="img1.png">
</div>

.project{
	background: gray;
	margin-left: 10px;
}

img.thumbnail{
	width: 50px;
	height: 100px;
	border: 1px solid#434343;
}

.contact-info{
	fontsize: 10pt;
	color: #cccccc;
}

.project{
	background-color: gray;
	margin-left: 10px;
}